<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- HTML Meta Tags -->
    <title>GuiPress</title>
    <meta name="description" content="Blog feito utilizando as tecnologias: node.js, express, bodyParser, Sequelize, ejs, slugify e mysql2">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://208.68.36.25">
    <meta property="og:type" content="website">
    <meta property="og:title" content="GuiaPress">
    <meta property="og:description" content="Blog feito utilizando as tecnologias: node.js, express, bodyParser, Sequelize, ejs, slugify e mysql2">
    <meta property="og:image" content="img/guiapress_logo.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="208.68.36.25">
    <meta property="twitter:url" content="http://208.68.36.25">
    <meta name="twitter:title" content="GuiaPress">
    <meta name="twitter:description" content="Blog feito utilizando as tecnologias: node.js, express, bodyParser, Sequelize, ejs, slugify e mysql2">
    <meta name="twitter:image" content="img/guiapress_logo.png">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog feito utilizando as tecnologias: node.js, express, bodyParser, Sequelize, ejs, slugify e mysql2">
    <meta name="keywords" content="Blog, tecnologias, node.js, express, bodyParser, Sequelize, ejs, slugify, mysql2">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Guilherme Casagrande">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="img/logo.png">
    <title>GuiaPress</title>
</head>