<nav class="navbar navbar-expand-sm navbar-dark bg-primary" aria-label="Third navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/img/guiapress_logo.png" alt="Início"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/categories">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/articles">Artigos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/users">Usuários</a>
                </li>
            </ul>

            </ul>
            <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
    </div>
</nav>